/*https://smartlanding.biz/otpravka-dannyx-formy-v-telegram.html - взято отсюда*/

*,
*:after,
*:before {
    box-sizing: border-box;
}
body {
    background-color: #7156f3;
}
input,
textarea {
    outline: none;
    color: white;
}
.contact-form {
    /* Size and position */
    width: 600px;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: #1c1e21;
    border-radius: 10px;
    position: relative;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #edefff;
}

.contact-form__title {
    font-size: 28px;
    padding-bottom: 20px;
}
.contact-form__input_name,
.contact-form__input_phone,
.contact-form__input_message {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border-radius:10px;
    border: 1px solid #7156f3;
    transition: .3s border-color;
    background-color: #1c1e21;
}
.contact-form__input_name:hover,
.contact-form__input_phone:hover,
.contact-form__input_message:hover {
    border: 1px solid #eee;
}
.contact-form__input_name:focus,
.contact-form__input_phone:focus,
.contact-form__input_message:focus {
    border: 1px solid #eee;
}

.contact-form__button {
    background-color: #7156f3;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
    box-shadow: none;
}
.contact-form__button:active, /*удаление черной рамки с кнопки при нажатии*/
.contact-form__button:focus {
    outline: none;
}
.contact-form__input_file {
    margin: 10px 0;
    padding: 2px;
    border: none;
    outline: none;
    width: 80%;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
/*.contact-form__file-text {*/
/*    background-color: #7156f3;*/
/*    border: none;*/
/*    border-radius: 20px;*/
/*    color: white;*/
/*    padding: 16px 32px;*/
/*    text-decoration: none;*/
/*    margin: 4px 2px;*/
/*    cursor: pointer;*/
/*    box-shadow: none;*/
/*}*/

/*button {*/
/*    position: absolute;*/
/*    background-color: #7156f3;*/
/*    border: none;*/
/*    border-radius: 20px;*/
/*    color: white;*/
/*    padding: 16px 32px;*/
/*    text-decoration: none;*/
/*    margin: 20px 2px;*/
/*    cursor: pointer;*/
/*    box-shadow: none;*/
/*}*/
/*.the_real_file_input {*/
/*    position: relative;*/
/*    top: 10%;*/
/*    left: 10%;*/
/*}*/